div.error
{
	border: 2px solid #FF0000;
	position: absolute;
	top: 12em;
	left: 0em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF0000;
	height: 2em;
	width: 20em;
	text-align: center;
	vertical-align: middle;
}

div.cfooter
{
	position: absolute;
	top: 92%;
	left: 80%;
}

div.containerlogin
{
	border: 2px solid #666666;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    width: 20em;
    height: 19em;
    margin: auto;
    /*
    position: relative;    
	top: 5em;
	height: 19em;
	width: 20em;
    */
}

div.cloginimg
{
    position: relative;
	top: 10%;
    bottom: 0;
    right: 0;
	left: 0;
    width: 50%;
    margin: auto;
}

div.cboxlogin
{
	position: relative;
	top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: left;
}

div.cboxlogin input
{
	position: relative;
    left: 60%;
    bottom: 0;
    right: 0;
    top: 20%;
    margin:left
}

div.cboxlogin label
{
	position: relative;
	top: 1.4em;
	left: 2.5em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: small;
}
