.cforgotpass
{
    position: relative;
    text-wrap: suppress;
    left: 8em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    font-color: #C0C0C0;
}

a:visited
{
    color: #505050;
}

a:link
{
    color: #505050;
}

a:hover
{
    font-weight: bold;
}

div.cformulario
{
	border: 2px solid #666666;
	background-color: #FFFFFF;
	position: relative;
	top: 4em;
	left: 30%;
	height: auto;
	width: 40em;
}

div.cformulario label
{
	position: relative;
	top: 1.4em;
	left: 2.5em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: small;
}

div.cformulario select
{
	position: relative;
	left: 18em;
}

div.cformulario input
{
	position: relative;
	left: 18em;
}

div.error
{
	border: 2px solid #FF0000;
	position: absolute;
	top: 15em;
	left: 0em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF0000;
	height: 2em;
	width: 23em;
	text-align: center;
	vertical-align: middle;
}

div.cfooter
{
	position: fixed;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    bottom: 0;
    right: 10px;
}

div.containerlogin
{
	border: 2px solid #666666;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    width: 23em;
    height: 21em;
    margin: auto;
}

div.cloginimg
{
    position: relative;
	top: 10%;
    bottom: 0;
    right: 0;
	left: 0;
    width: 50%;
    margin: auto;
}

div.cboxlogin
{
	position: relative;
	top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: left;
}

div.cboxlogin input
{
	position: relative;
    left: 60%;
    bottom: 0;
    right: 0;
    top: 20%;
    margin:left
}

div.cboxlogin label
{
	position: relative;
	top: 1.4em;
	left: 2.5em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: small;
}
