#ysearch { text-align:center; }
#ysearchinput { position:relative; width:1em; } /* to center, set static and explicit width: */
#ysearchcontainer { text-align:left; width:1em; } /* to center, set left-align and explicit width: */

#filemenu.visible .yuimenuitemlabel,
#editmenu.visible .yuimenuitemlabel {
   *zoom: 1;
}
		
div.error
{
	border: 2px solid #FF0000;
	position: absolute;
	top: -3em;
	left: -3em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF0000;
	height: 2em;
	width: 30em;
	text-align: center;
	vertical-align: middle;
}

div.cfooter
{
	position: absolute;
	top: 90%;
	left: 85%;
}

div.clistado
{
    position: relative;
    margin-left: 30%;
    margin-right: auto;

}

div.cformusuario
{
    border: 2px solid #666666;
    background-color: #FFFFFF;
    position: relative;
    top: 4em;
    left: 30%;
    height: auto;
    width: 30em;
}

div.cformusuario label
{
    position: relative;
    top: 1.4em;
    left: -10em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
}

div.cformusuario select
{
	position: relative;
	left: 5em;
}

div.cformusuario input
{
	position: relative;
	left: 5em;
}


div.backgroundimg img
{
	position: absolute;
	top: 30%;
	left: 28%;
}
